[Unit]
Description=NFS Mount Daemon
After=rpcbind.service nfs-server.service
Requires=rpcbind.service nfs-server.service

[Service]
EnvironmentFile=-/etc/nfs-utils.conf
ExecStart=/usr/sbin/rpc.mountd -F $MOUNTD_OPTS

[Install]
WantedBy=multi-user.target
